body
    background transparent
    padding 7px

#game-score
    padding 10px 0 0 0

#play-buttons
    padding 15px 0

#play-buttons button
    cursor url('../img/hand.png') 7 1, pointer

#play-buttons button:not(:last-child)
    margin-right 3px

button > i
    font-size 50px

#game-log-container
    text-align center
    margin 0 auto

#game-log
    background #333
    color #eee
    width 100%
    height 200px
    margin 0 auto
    text-align left
    overflow-x hidden
    overflow-y auto
    font-family monospace
    line-height 1.35em

#game-log .animated
    -webkit-animation-duration .5s
    -o-animation-duration .5s
    animation-duration .5s

#intro-screen-container
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    display table
    background #222

#intro-screen
    display table-cell
    text-align center
    vertical-align middle
