@font-face
    font-family 'PPTLS'
    src url('../font/pptls.eot')
    src url('../font/pptls.eot#iefix') format('embedded-opentype'),
        url('../font/pptls.woff') format('woff'),
        url('../font/pptls.ttf') format('truetype'),
        url('../font/pptls.svg?35096481#pptls') format('svg')
    font-weight normal
    font-style normal

[class^="icon-"]:before, [class*=" icon-"]:before
    font-family "pptls"
    font-style normal
    font-weight normal
    speak none
    display inline-block
    text-decoration inherit
    width 1em
    margin-right .2em
    text-align center
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant normal
    text-transform none
    /* fix buttons height, for twitter bootstrap */
    line-height 1em
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left .2em
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-rock:before
    content '\e800'

.icon-paper:before
    content '\e801'

.icon-lizard:before
    content '\e802'

.icon-scissors:before
    content '\e803'

.icon-spock:before
    content '\e804'
