doctype html
html
    head
        meta(charset='UTF-8')
        title PPTLS
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/slate/bootstrap.min.css')
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/animatecss/3.4.0/animate.min.css')
        link(rel='stylesheet', href='css/pptls.css')
    body
        .container-fluid
            .row
                .col-md-12
                    button.btn.btn-default#new-game Nuevo juego
            .row
                #game-score.col-md-12.text-center
                    .pull-left.text-danger Perdidas:&nbsp;
                        span#loses 0
                    span.text-warning Empates:&nbsp;
                        span#ties 0
                    .pull-right.text-success Ganadas:&nbsp;
                        span#wins 0
            .row
                #play-buttons.col-md-12.text-center
                    button.btn.btn-default#piedra(data-toggle='tooltip', title='Jugar <i class="icon-rock"></i>(Piedra)')
                        i.icon-rock
                    button.btn.btn-default#papel(data-toggle='tooltip', title='Jugar <i class="icon-paper"></i>(Papel)')
                        i.icon-paper
                    button.btn.btn-default#tijeras(data-toggle='tooltip', title='Jugar <i class="icon-scissors"></i>(Tijeras)')
                        i.icon-scissors
                    button.btn.btn-default#lagarto(data-toggle='tooltip', title='Jugar <i class="icon-lizard"></i>(Lagarto)')
                        i.icon-lizard
                    button.btn.btn-default#spock(data-toggle='tooltip', title='Jugar <i class="icon-spock"></i>(Spock)')
                        i.icon-spock
            .row
                .col-md-6.col-md-offset-3.col-sm-12
                    #game-log-container
                        #game-log
        #intro-screen-container
            #intro-screen
                h1
                    i.icon-rock
                    span , 
                    i.icon-paper
                    span , 
                    i.icon-scissors
                    span , 
                    i.icon-lizard
                    span , 
                    i.icon-spock
                p
                    small ALPHA
                button.btn.btn-default#enter Nuevo juego
        audio(src="audio/tbbt.ogg", autoplay)
        script(src='https://code.jquery.com/jquery-2.1.4.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
        script(src='js/pptls.min.js', charset='utf-8')
